@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;

}
html, body{
        font-family: 'Montserrat', sans-serif;
        background-color: #111824;
        margin: 0 auto;


}

h1{
    color: #FFDC61;
}
h2{
    color: #9747FF;
    font-size: 1.5rem;
    text-align: center;
}
h5{
    font-size: 1rem;
}
p{
    font-weight: 100;
    font-size: 0.8rem;
}
li{
    font-size: 0.8rem;
}
a{
    text-decoration: none; /* Elimina la subrayado */
            color: inherit; /* Hereda el color del texto */
            cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
            font-size: 0.8rem;
}

header{
    background: url('/assets/yo-pantalla.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
height: 100%;
display: flex;
align-items: center;
padding: 0 10%;
height: 80vh;
margin: 0 auto;

}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: #fff;
    gap: 20px;
}
.btn-cv{
    padding: 5px 0;
    border-radius: 15px;
    background-color: #FFDC61;
    color: #2b2b2b;
    text-align: center;
    font-weight: 700;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
        flex-wrap: wrap ;
        padding: 0px 50px;

}
.proyecto{
    min-width: 300px;
    max-width: 300px;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1C0040;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 5px #AD6CFF;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
    
}
.proyecto:hover{
    background-color: #230150;
        box-shadow: 0px 4px 20px 5px #AD6CFF;

}

.img-proyecto{
    width: 100%;
    border-radius: 7px;
}
.titulo-proyecto{
    display: flex;
    justify-content: space-between;
}
.mini-tech{
    width: 20px;
}
.btn-proyecto{
    background-color: #9747FF;
    padding: 5px 0;
    border-radius: 7px;
    color: #fff;
    text-align: center;

}
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    color: #fff;
}
.trabajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
padding: 20px 0;    border-bottom: solid 1px #AD6CFF;

}
.empresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 0.8rem;
}
.labores{
    width: 500px;
}


.logos{
    max-width: 600px;
    padding-top: 90px;
display: grid;
grid-template-columns:repeat(auto-fit, minmax(40px, 1fr));
gap: 50px;
}
.logo{
width: 100%;
height: auto;
}
.estudios-contenedor{
    padding: 100px 50px;
    display: grid;
grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9747FF;
    padding: 20px 20px;
    gap: 20px;
    color: #fff;
    border-radius: 15px;
}
.nombre-curso{
    font-weight: 600;
    text-align: center;
}
.btn-certificado{
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 15px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #1C0040;
}
footer{
    background-color: #4A0F95;
    padding: 40px;

}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    gap: 10px;
    font-weight: 400;
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.icono{
    width: 30px;
}